<% @products.each do |product| %>
  <div>
    <h6><%= product.id %></h6>
    <h1><%= product.name %></h1>
    <h2><%= product.price %></h2>
    <h3 ><%= product.description %></h3>
    <h2><%= product.in_stock %></h2>
    <br>
    <br>
    <br>
  </div>
<%end%>




